.console {
	color:yellow;
	background-color:black
}

.monospace {
	font-family:"Lucida Console"
}

.center {
	margin:0 auto;
}

.textcenter {
	text-align:center;
}

.border {
	border:solid 1px black
}

.fill {
	height:100%;
	width:100%
}
.fillH {
	height:100%;
}
.fillW {
	width:100%
}

.S500x500 {
	height:500px;
	width:500px;
}

.noresize {
	resize: none;
}

.fullpage {
	height:100%;
	width:100%;
	position:absolute;
}

.S10W {
	width:10px;
}
.S10H {
	height:10px;
}
.S20W {
	width:20px;
}
.S20H {
	height:20px;
}

table,td, th, tr {
	border: 1px black solid;
	margin : 0;
	border-collapse: collapse;
}

.pixelate {
    image-rendering: pixelated;
}

body {
	font-family: sans-serif;
	font-style: normal;
}

code {
	font-family: monospace;
}

.center {
	position: absolute;               
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}